# 牛だけキャンプ場きらら予約状況取得

In [1]:
import pandas as pd

In [2]:
_url = 'https://ushidake.com/cgi-bin/yoyaku005/user.cgi'
dfs = pd.read_html(_url,header=0)

In [4]:
# すべての月分ループ処理
i = 0
for i in range(2,7,2):
    dfs_=dfs[i]
    #1行目の情報は不要なため削除
    dfs_=dfs_.drop(index=dfs_.index[[0]])
    # NaNの行を削除
    #dfs_=dfs_.dropna(how='all', axis=1)
    # DBに書き込みする処理を追加
    print(dfs_)

      2021年 3月  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30 31  \
1  バンガロー （全5棟）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  ×  ×  ×  ×  ×  ×  ×
2  サイト （全26ヶ所）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  ×  ×  ×  ×  ×  ×  ×

  Unnamed: 32
1         NaN
2         NaN

[2 rows x 33 columns]
      2021年 4月  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30  \
1  バンガロー （全5棟）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  ×  ×  ×  ×  ×  ×
2  サイト （全26ヶ所）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  ×  ×  ×  ×  ×  ×

  Unnamed: 31 Unnamed: 32
1         NaN         NaN
2         NaN         NaN

[2 rows x 33 columns]
      2021年 5月  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30 31  \
1  バンガロー （全5棟）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  休  ×  ×  ×  ×  ×  ×
2  サイト （全26ヶ所）  ×  ×  ×  ×  ×  ×  ×  ×  ×  ...  ×  ×  休  ×  ×  ×  ×  ×  ×

  Unnamed: 32
1         NaN
2         NaN

[2 rows x 33 columns]